Options +MultiViews
RewriteEngine on  
RewriteBase /production/app/views/general/

RewriteCond %{THE_REQUEST} (.*)\.php  
RewriteRule ^(.*)\.php $1.go [R=301,L]  

RewriteCond %{THE_REQUEST} (.*)\.go 
RewriteRule ^(.*)\.go $1.php [L] 